.homePage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardInfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 24px;
    gap: 16px;
    text-align: left;
}

.title {
    font-size: 2rem;
    font-weight: 400;
    margin: 0;
}


@media (max-width: 768px) {
    .cardInfo {
        display: grid;
        grid-template-columns: 1fr;
        gap: 24px;
        text-align: left;
    }
}
